@import "./../../global.scss";

.Project{
    height: 100%;
    width: 100%;
    .ProjectCards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media screen and (max-width:900px) {
    .Project{
        .ProjectCards{
            flex-direction: column;
            margin-top: 20px;
        }
    }
}