@import "./../../global.scss";

.hero {
    // background: url(https://themewagon.github.io/satner/img/banner/home-banner.png);
    background-color: $mainColor;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    color: #000;
    text-align: left;
    font-weight: bold;
    .text{
        margin-top: 12%;
        margin-left: 80px;
        font-family: "Roboto", sans-serif;


        h2{
                overflow-y: hidden;
                font-weight: bold;
                
        }
        h1{
            font-size: 48px;
            margin-bottom: 20px;
            font-family: "Geologica", sans-serif;
            font-weight: bold;
            color: $SecMainColor;
        }
        p {
            font-size: 24px;
            width: 60%;
            margin-bottom: 40px;
            font-family: "Geologica", sans-serif;
            font-weight: bold;
            }
    }
    .right_img{
        margin-top: 50px;
        max-width: 100%;
        height: auto;
    img{
        vertical-align: middle;
        width: 80%;
        overflow-x: hidden;
        height: auto;
    }
    }
    }


    @media screen and (max-width:787px) {
    .hero{
        flex-direction: column;
        .text{
            margin-top: 200px;
        }
    }
    }

@media only screen and (max-width:330px){
.hero{
    .text{
        margin-left: 20px;
    }
}
}