@import "./../../global.scss";

.hero {
    // background: url(https://themewagon.github.io/satner/img/banner/home-banner.png);
    background-color: $mainColor;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    color: #000;
    text-align: left;
    font-weight: bold;
    .text{
        margin-top: 12%;
        margin-left: 80px;
        font-family: "Roboto", sans-serif;


        h2{
                overflow-y: hidden;
                font-weight: bold;
                
        }
        h1{
            font-size: 48px;
            margin-bottom: 20px;
            font-family: "Geologica", sans-serif;
            font-weight: bold;
            color: $SecMainColor;
        }
        p {
            font-size: 24px;
            width: 60%;
            margin-bottom: 40px;
            font-family: "Geologica", sans-serif;
            font-weight: bold;
            }
    }
    .right_img{
        margin-top: 50px;
        max-width: 100%;
        height: auto;
    img{
        vertical-align: middle;
        width: 80%;
        overflow-x: hidden;
        height: auto;
    }
    }
    }

    //Animation Classes

//     .focus-in-expand-fwd {
// 	-webkit-animation: focus-in-expand-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// 	        animation: focus-in-expand-fwd 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
// }
//  @-webkit-keyframes focus-in-expand-fwd {
//   0% {
//     letter-spacing: -0.5em;
//     -webkit-transform: translateZ(-800px);
//             transform: translateZ(-800px);
//     -webkit-filter: blur(12px);
//             filter: blur(12px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateZ(0);
//             transform: translateZ(0);
//     -webkit-filter: blur(0);
//             filter: blur(0);
//     opacity: 1;
//   }
// }
// @keyframes focus-in-expand-fwd {
//   0% {
//     letter-spacing: -0.5em;
//     -webkit-transform: translateZ(-800px);
//             transform: translateZ(-800px);
//     -webkit-filter: blur(12px);
//             filter: blur(12px);
//     opacity: 0;
//   }
//   100% {
//     -webkit-transform: translateZ(0);
//             transform: translateZ(0);
//     -webkit-filter: blur(0);
//             filter: blur(0);
//     opacity: 1;
//   }
// }


    @media screen and (max-width:787px) {
    .hero{
        flex-direction: column;
        .text{
            margin-top: 200px;
        }
        .right_img{
          display: flex;
          justify-content: center;
        }
    }
    }

@media only screen and (max-width:330px){
.hero{
    .text{
        margin-left: 20px;
    }
}
}