@import '../../../global.scss';


.card-main{
  width: 50vw;
  height: 70vh;
  overflow: hidden;
  background-color: #ddd;
}

@media screen and (max-width:900px) {
    .card-main{
      margin-top: 20px;
      width: 90vw;
    }
}