.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #333;

    .heading{
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      opacity: 0.5;
      margin-top: 40px;

      h5{
        color:#fff;
        overflow-y: hidden;   
        font-family: Arial, Helvetica, sans-serif;
      }
      &:hover{
        opacity: 0.8;
      }
      .fa-down-long{
        color:#fff;
        margin-left: 10px;
      }
    }
    .icons{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      align-items: center;
      a{
        margin: 40px;
        font-size: 100px;
        padding: 20px;
        opacity: 0.7;
        &:hover{
          color: #fff;
          opacity: 1;
          border-bottom: 1px solid #fff;
          }
      }
    }
    .footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
      }
}