@import "./../../global.scss";

.footer{
  justify-content: center;
  display: flex;
  flex-direction: column;

    .heading{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      opacity: 1;
      margin-top: 20px;

      h4{
        color:$SecMainColor;
        overflow-y: hidden;   
        font-family: "Rubik", sans-serif;
      }
      &:hover{
        opacity: 0.8;
      }
      .fa-down-long{
        color:$mainColor;
        margin-left: 10px;
      }
    }
    .icons{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      overflow-y: hidden;
      align-items: center;
      a{
        margin: 10px;
        font-size: 50px;
        padding: 20px;
        opacity: 0.7;
        color: #788489;
        
        &:hover{
          color: $SecMainColor;
          opacity: 1;
          border-bottom: 1px solid $mainColor;
          }
      }
    }
    .para{
      font-family: "Rubik", sans-serif;
      font-size: 18px;
      padding: 10px;
      color: #788489;
        }
    .CopyRight {
        background-color: $SecMainColor;
        color: $mainColor;
        overflow-y: hidden;   
        margin-top: 300px;
        padding: 30px;
        text-align: center;
      }
}

@media screen and (max-width:787px) {
    .footer{
      .icons{
        flex-direction: column;
        align-items: center;
      }
      .para{
        align-items: center;
      }
      .CopyRight{
        margin-top: 0%;
      }
    }
}